html{
	text-align: center;
	font-family: helvetica;
}

h1{
	font-size: 70px;
	font-weight: bold;
}

.nav{
	color: white;
	font-weight: bold;
}

.header{
	color:white;
	font-size: 18px;
	background-image: url("../images/building.png");
}

#process{
	font-weight: bold;
	font-size: 32px;
}

h3{
	font-weight: bold;
	font-size: 23px;
}

p{
	font-size: 14px;
	font-weight: normal;
}

#center{
	font-size: 23px;
}

.footer{
	color: white;
	font-size: 11px;
	text-align: left;
	background-color: dimgray;
}